header {
    color: blanchedalmond;
    background-color: darkolivegreen;
    text-transform: uppercase;
}
h3 {
    text-transform: none;
    color: aliceblue;
}

nav {
    background-color: darkgreen;
}

section {
    background-color: forestgreen;
    text-align:justify;
}
footer {
    background-color: chartreuse;
}

article {
    background-color: green;
    text-align:justify;
}

details {
    text-align:justify;
    margin: 4px;
    padding: 3px;
    background-color: olive;
}

summary {
    padding: 3px;
    margin: 2px;
    text-align:justify;
    background-color: olivedrab;
}

nav ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: x-large;
    display: block;
    padding: 14px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}

nav ul li a:hover {
    background-color: lime;
    text-decoration: underline;
}

body {
    margin: auto;
    width: 1000px;
    padding: 4px;
    background-image: url("../img/Footprints.png");
    background-repeat: repeat;
    background-color: lawngreen;
}

footer {

    display: block;
    color: blue;
    clear: both;
    text-align: center ;

}

table, table tr, table td, table th {
    table-layout: fixed;
    border-collapse:  collapse;
    border-width:  3px;
    border-style: solid;
    margin: 10px;
}
table td {
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
}
table th {
    text-align: center;
    padding: 10px;
    font-size: x-large;
}
table {
    table-layout: auto; width: 100%;
    border-collapse:  collapse;
    margin: auto;
}

table th, table caption {
    text-transform: capitalize;
}
table.feedingTable{

    table-layout: auto;;

    margin: auto;
}
table.feedingTable, table.feedingTable td, table.feedingTable th {
    table-layout: fixed;
    border-collapse:  collapse;
    border-width:  3px;
    border-style: solid;

}
table.feedingTable tr {
    table-layout:fixed;
    margin: auto;

}
table.feedingTable th {
    font-size: larger;
    text-align: center;
    padding: 5px;

}
form input, form select {
    background-color: seagreen;
    border: 1px solid;
}
form input[type=submit]:hover {
    background-color: springgreen;
}
fieldset {
    background-color: yellowgreen;
}
.label {
    float: left;
}

/*footer a {*/
    /*position: fixed;*/
    /*color: blanchedalmond;*/
/*}*/
